#home {
    height: 65vh;
    position: relative;
    margin-top: 3.5rem;
    padding-top: 45vh;

    background: url('../images/DSCN0179\ \(2\).JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
}

input:invalid {
    border-color: red;
    background-color: pink;
}

.invalid {
    color: red;
}
